{% extends 'auto/base.html' %}

{% block ehead %}
<title>Danial Keimasi &ndash; CV</title>
<link rel="icon" type="image/png" href="logo.png" />
<meta name="description" content="Danial Keimasi's Personal CV Website" />
<meta name="keywords" content="Software Engineer, Web Developer, Python, Django, Website, Backend, Frontend, Fullstack, Back-end, Front-end, Full-stack, Web design, Agile, Scrum" />
<meta name="author" content="Danial Keimasi" />
<meta name="robots" content="index, follow" />
{% endblock %}
